<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- regenerator-runtime: polyfill for async/await/generator runtime used by compiled scripts -->
<script src="https://unpkg.com/regenerator-runtime@0.13.11/runtime.js"></script>
<script src="/assets/js/concursos.js"></script>
<script src="/assets/js/modalidades.js"></script>
<script src="/assets/js/bundle.js"></script>
<script src="/assets/js/loteca.js"></script>
<script src="/assets/js/enviados.js"></script>
<script src="/assets/js/notifications.js"></script>
<script src="/assets/js/meusNumeros.js"></script>
<script src="/assets/js/jogosRecebidos.js"></script>
<script src="/assets/js/jogosRealizados.js"></script>
  </body>
</html>