<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogos Mega sena</title>
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/nav.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/meusNumeros.css">
    <link rel="stylesheet" href="/assets/css/numerosEnviados.css">
    <link rel="stylesheet" href="/assets/css/numerosRecebidos.css">
    <link rel="stylesheet" href="/assets/css/jogosRealizados.css">


  </head>
  <body>